/* *,
::after,
::before {
  padding: 0;
  margin: 0;
} */

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lsn {
  list-style: none;
}

.btn {
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 9.5px 24px;
}
.btn--header {
  border: 1px solid #f7941e;
  border-width: 1px;
  color: #f7941e;
}

/* .link {
  text-decoration: none;
} */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header a {
  text-decoration: none;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 31px;
  flex-wrap: wrap;
}
.navigation__link {
  display: block;
  padding: 47px 0;
  color: black;
  font-size: 18px;
  line-height: 1.22;
}

.blog-text h1,
.blog-text h2,
.blog-text h3,
.blog-text h4,
.blog-text h5,
.blog-text h6 {
  margin: 15px 0;
}
/* .blog-text *:first-of-type{
  margin-top: 0;
} */

.blog-text ol,
.blog-text ul,
.blog-text p {
  margin: 10px 0;
}
.blog-text ul {
  list-style-position: inside;
}
